#map{
    width: 100%;
    height: 400px;
    margin-top: 10px;
}
.loc{
    font-size: 20px;
}
.loc_info{
    text-align: left;
    display: block;
    float: left;
}
.work{
    float:right;
    margin-bottom: 10px;
}
.work h1 p{
    text-align: left;
}
